<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <div class="posts-container">
        <% for(let post of posts){ %>
            <div class="post">
                <div>
                    <h3 class="user">@ <%=post.username %></h3>
                    <p class="content"><%= post.content%></p>
                </div>
                <div class="post-actions">
                    <a href="http://localhost:8080/posts/<%= post.id %>">Details</a>
                    <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
                    <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <a class="create-new-link" href="http://localhost:8080/posts/new">Create new Post</a>
</body>
</html>

